{% extends "index.html" %}

{% block title %}Flashcards — LangLern{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
{% endblock %}

{% block content %}
<div class="flashcard-container">
    <h1 class="title">Flashcards</h1>
    <h2 class="lang">Dutch</h2> <!-- Placeholder -->

    <div class="flashcards">
        {% for card in flashcards %}
        <div class="flashcard">
            <div class="front">
                {{ card.front }}
            </div>
            <div class="back">
                {{ card.back }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="add-flashcard">
        <input type="text" id="word-input" placeholder="Word you'd like to lern..." required>
        <div id="translated">Translated...</div>
        <button id="submit">Translate</button>
        <button id="add"><i class="fa fa-plus"></i></button>
    </div>
    <div class="flashcards" id="flashcards">
        <!-- generated through JavaScript -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}
