{% extends "index.html" %}

{% block title %}Flashcards — LangLern{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
{% endblock %}

{% block content %}
<div class="flashcard-container">
    <h1 class="title">Flashcards</h1>
    <h2 class="lang">Dutch</h2> <!-- Placeholder -->

    <div class="three-flashcards">
        {% for card in flashcards %}
        <div class="flashcard">
            <div class="front">
                {{ card.front }}
            </div>
            <div class="back">
                {{ card.back }}
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="add-flashcard">
        <input type="text">
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/flashcards.js') }}"></script>
{% endblock %}
