<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LangLern{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/logo.ico') }}">

    <!-- Shared CSS (e.g., nav styling) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    
    <!-- Page specific CSS -->
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Lang Lern Logo" class="logo">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Lern</a></li>
            <li><a href="{{ url_for('main.flashcards') }}">Flashcards</a></li>
            <li><a href="{{ url_for('main.index') }}">Progress</a></li>
            <li><a href="{{ url_for('main.about') }}">About</a></li>
        </ul>
    </nav>

    <!-- Page specific body -->
    <main>
        {% block content %}{% endblock %}

        <!-- Footer -->
        <footer>
            <div>
                <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Lang Lern Logo">
            </div>
            <div>
                <div>Lang Lern&trade;<b> — Learn the Language, Live the Culture</b></div>
                <div style="margin-top: 10px;">&copy; 2025 <i>Wiktor Skrzynecki</i> — <a href="github.com/Hadevsh">GitHub</a></div>
            </div>
        </footer>
    </main>

    <!-- Shared JavaScript -->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <!-- Page specific JavaScript -->
    {% block scripts %}{% endblock %}
</body>
</html>
