<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LangLern{% endblock %}</title>
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/logo.ico') }}">

    <!-- Shared CSS (e.g., nav styling) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    
    <!-- Page specific CSS -->
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Lang Lern Logo" class="logo">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Lern</a></li>
            <li><a href="{{ url_for('main.index') }}">Progress</a></li>
            <li><a href="{{ url_for('main.index') }}">About</a></li>
        </ul>
    </nav>

    <!-- Page specific body -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Shared JavaScript -->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    <!-- Page specific JavaScript -->
    {% block scripts %}{% endblock %}
</body>
</html>
